.idea/*
data/cache/*
public/upload/*
public/statics/asset/libs/*
application/libs/DbTable/*
application/libs/DbLink/*
library/*
scripts/builds/deploy/*
application/modules/default/controllers/helpers/Debug.php*